
body{
    background-color: lightblue;
    margin:0;
    /* padding-top: 100px; */
    /* margin: 100px; */
}
h1{
    font-size:64px;
    text-align: center;
}

.myhome{
    margin-top: 130px;
    font-size: 5em;
 }
.columnhome {

    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box
  }

.rowhome::after {
    content: "";
    clear: both;
    display: table;
    box-sizing: border-box
  }


.profile01{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: static;
    width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 30px;
    background-color: white;
    text-align: center;
}

.main{
    margin-top: 150px;
    padding: 10px;
    position: static;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.row{
    content: "";
    display: table;
    clear: both;
}

